.slider-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-content {
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 1;
    padding: 2rem;
    font-size: '5rem';
}

.slider-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5vh 5vw;
    border-radius: 30px;
    max-height: 60vh;
    overflow-y: scroll;
}

.quote-symbol {
    font-size: 2rem;
    /* adjust as needed */
    font-weight: bold;
    color: #555;
    margin: 0 0.5rem;
    /* adjust spacing */
}

.bottom-actions {
    position: fixed;
    bottom: 5vh;
    align-items: center;
}

.swiper-slide {
    transition: opacity 0.8s ease-in-out;
}